.container{
    display: flex;
    justify-content: space-between;
    .main-bg{
        background-color: #FFF;
        position: relative;
        z-index: -1;
    
        .bg-card-front{
            position: absolute;
            margin-top: 100px;
            left: 130px;
            z-index: 0;
        }

        .cardNumber{
            position: absolute;
            z-index: 1;
            color: #FFF;
            left: 160px;
            top: 250px;
        }

        .cardholderName{
            position: absolute;
            z-index: 1;
            color: #FFF;
            left: 160px;
            top: 300px;
        }

        .date{
            position: absolute;
            z-index: 1;
            color: #FFF;
            top: 300px;
            left: 500px;
        }

        .circles{
            position: absolute;
            top: 130px;
            left: 150px;
            z-index: 1;
        }
    
        .bg-card-back{
            position: absolute;
            margin-top: 370px;
            left: 250px;
            z-index: 0;
        }

        .cvc{
            z-index: 1;
            position: absolute;
            left: 625px;
            bottom: 400px;
        }
    }

    .input{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
        margin-bottom: 20%;
    }

}

