.container{
    display: flex;
    justify-content: space-between;
    .main-bg{
        background-color: #FFF;
        position: relative;
        z-index: -1;
    
        .bg-card-front{
            position: absolute;
            margin-top: 100px;
            left: 130px;
            z-index: 0;
        }

        .circles{
            position: absolute;
            top: 130px;
            left: 150px;
            z-index: 1;
        }
    
        .bg-card-back{
            position: absolute;
            margin-top: 370px;
            left: 250px;
        }
    }

    .input{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
        margin-bottom: 20%;
    }

}

