<div class="container">
    <label for="">CARDHOLDER NAME</label>
    <input type="text" placeholder="e.g. Jane Appleseed">
    <label for="">CARD NUMBER</label>
    <input type="number" placeholder="e.g. 1234 5678 9123 0000">
    <div class="expAndCVC">
        <div class="exp">
            <label for="">EXP. DATE (MM/YY)</label>
            <div class="exp-inputs">
                <input type="number" placeholder="MM">
                <input type="number" placeholder="YY">
            </div>
        </div>
        <div class="CVC">
            <label for="">CVC</label>
            <input type="number" placeholder="e.g. 123">
        </div>
    </div>
</div>