<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <label for="">CARDHOLDER NAME</label>
        <input #inputElement type="text" placeholder="e.g. Jane Appleseed" formControlName="cardholderName" (input)="handleInputFocus(0)" maxlength="{{ charLimits[0] }}"
            [(ngModel)]="cardData.cardholderName">
        <label for="">CARD NUMBER</label> 
        <input #inputElement type="text" placeholder="e.g. 1234 5678 9123 0000" formControlName="cardNumber" (input)="handleInputFocus(1)" maxlength="{{ charLimits[1] }}"
            [(ngModel)]="cardData.cardNumber">
        <div *ngIf="cardForm.get('cardNumber')?.hasError('pattern')" class="error-message">
            Card number must be exactly 16 digits.
        </div>
        <div class="expAndCVC">
            <div class="exp">
                <label for="">EXP. DATE (MM/YY)</label>
                <div class="exp-inputs">
                    <input #inputElement type="number" placeholder="MM" formControlName="expMonth" (input)="handleInputFocus(2)" maxlength="{{ charLimits[2] }}"
                        [(ngModel)]="cardData.expMonth">
                        <div *ngIf="cardForm.get('expMonth')?.hasError('pattern')" class="error-message">
                            Month should be between 1 and 12.
                        </div>
                    <input #inputElement type="number" placeholder="YY" formControlName="expYear" (input)="handleInputFocus(3)" maxlength="{{ charLimits[3] }}"
                        [(ngModel)]="cardData.expYear">
                </div>
            </div>
            <div class="CVC">
                <label for="">CVC</label>
                <input #inputElement type="text" placeholder="e.g. 123" formControlName="cvc" (input)="handleInputFocus(4)" maxlength="{{charLimits[4]}}"
                    [(ngModel)]="cardData.cvc">
            </div>
        </div>
        <button type="submit" [disabled]="cardForm.invalid">Confirm</button>
    </div>
</form>